<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Weather Lady</title>
</head>
<body>
<header>
    <h1>WEATHER FORECAST</h1>
    <h1 th:text="${welcomeString}"></h1>
</header>
<main>
    <p th:unless="${locations.size()}">No location found</p>
    <h5>Search</h5>
    <form th:action = "@{/}" method="get">
        <input type="text" name="search">
        <button type="submit">Submit</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Address</th>
                <th>Weather</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="location : ${locations}">
            <td th:text="${location.getDisplayName()}"></td>
            <td> <a th:href="@{location-weather/{location}(location=${location.getId})}">details</a></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>